.card-container {
    width: 24%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 12px 0px #00000014, 0px 0px 1px 0px #0000009e;
    overflow: hidden;
    padding: 2px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 12px 16px 0px #0000001a, 0px 0px 1px 0px #0000009e;
        transform: translateY(-5px);
    }
}
.card-container .card-head {
    position: relative;
}
.card-container .card-head img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: grayscale(10%);
}
.card-container .card-head .card-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #ffffff;
    color: #444;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    border: 1px solid #eee;
    
    .availability {
        margin-left: 5px;
        border-radius: 4px;
        padding: 2px;
    }
    .green{
        background-color: rgb(235, 255, 217);
        color: rgb(107, 225, 10);
        border: 1px solid rgb(107, 225, 10);
    }
    .orange{
        background-color: rgb(255, 244, 236);
        color: rgb(255, 98, 0);
        border: 1px solid rgb(255, 98, 0);
    }
}




.card-container .card-content {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.card-container .card-content .title {
    
    font-size: 16px;
    font-weight: 600;
    color: #333;



    /* 1. Keep all text on a single line */
    white-space: nowrap;

    /* 2. Hide any content that overflows the element's box */
    overflow: hidden;

    /* 3. Display an ellipsis (...) for the hidden overflow content */
    text-overflow: ellipsis;
}
.card-container .card-content .description {
    font-size: 14px;
    color: #444;
    line-height: 1.2;


    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 

    /* 2. Hide any content that overflows the box */
    overflow: hidden; 

    /* 3. This property is needed for older/cross-browser support of line-clamp */
    text-overflow: ellipsis;
}


.card-container .card-content .cta {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    > button {
        padding: 7px 14px;
        background-color: #333;
        color: whitesmoke;
        font-weight: 600;
        border: none;
        border-radius: 70px;
        cursor: pointer;
        &:hover{
            background-color: #222;
        }
        i {
            margin-left: 5px;
        }
    }

    > span {
        font-size: 13px;
    }
}