body {
    background-color: white;
}

.search-input {
    background-color: rgb(254, 144, 144);
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: 1px 1px 40px rgba(51, 0, 90, 0.075);
    width: 300px; /* to be customized */
    position: relative;
    overflow: hidden;

    > label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    & input{
        border: none;
        outline: none;
        width: 100%;
        padding: 10px 43px;
        font-size: 14px;
    }
    & button{
        outline: none;
        border: none;
        width: 25px;
        height: 25px;
        position: absolute;
        font-size: 16px;
        border-radius: 3px;
        cursor: pointer;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & button:first-child{
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: transparent;
    }
    & button:last-child{
        top: 5px;
        right: 5px;
        background-color: transparent;
    }
}