.search-item {
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition-duration: 0.35s;
    cursor: pointer;
    font-weight: 600;

    .country-name span {
        font-size: 14px;
    }

    &:hover {
        background-color: #eeeeef68;
    }
}
.search-item-skeleton {
    padding: 6px;
    div {
        width: 100%;
        background-color: #eee;
        border-radius: 70px;
        height: 8px;
    }
}