* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start global rules */
ul{list-style-type: none}
a{
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
/* end global rules */

body {
  font-family: "poppins", sans-serif;
  background-color: #0c0c0c !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}