* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #4f46e5;
  --secondary-color: #6b7280;
  --background-color: #1f2937;
  --text-color: #f3f4f6;
}

/* start global rules */
ul{list-style-type: none}
a{
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
/* end global rules */

body {
  font-family: "poppins", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
